{% extends 'base.html' %}
{% load static %}

{% block customcss %}
  <link rel="stylesheet" href="{% static 'login/css/styleLogin.css' %}">
  <link rel="stylesheet" href="{% static 'login/css/user_profile.css' %}">
{% endblock %}

{% block bodycontent %}
  <body>
  {% if request.user.is_authenticated %}
  <div class="container">
    <div class="card">
      <!-- <img src="{% static 'login/imgs/team2.jpg' %}" alt="John" style="width:100%"> -->
      <h1>-------------------------------</h1>
      <form class="" action="" method="post">
        {% csrf_token %}
        {{aform.as_p}}
        <button type="submit" name="button" class="form-control" style="background:green;color:white;">submit</button>
      </form>
      <h1>-------------------------------</h1>
      <img src="{{image.url}}" alt="John" style="width:100%">
      <!-- <h1>{{image.url}}</h1> -->
      <h1>{{request.user.username}}</h1>
      <h2>{{name}}</h2>
      <h2>{{title}}</h2>
      <h2>{{address}}</h2>
      <h2>{{phone}}</h2>
      <h2>{{created_at}}</h2>
      <p class="title">CEO & Founder, Example</p>
      <p>{{request.user.email}}</p>
      <a href="/logout/"><small>logout</small></a>
    </div>
  </div>
  {% else %}
    <form action="/login/" method="POST">
      {% csrf_token %}
      <div class="imgcontainer">
        <img src="{% static 'login/imgs/img_avatar2.png' %}" alt="Avatar" class="avatar" style="">
      </div>

      <div class="container">
        <div class="col-sm-offset-3 col-sm-6">
          <label><b>Username</b></label>
          <input type="text" placeholder="Enter Username" name="username" required>

          <label><b>Password</b></label>
          <input type="password" placeholder="Enter Password" name="password" required>
          <button type="submit" name="LoginType" value="SignIn" >Login</button>
        </div>
      </div>
    </form>
  {% endif %}

  </body>
{% endblock %}
