  {% extends 'base.html' %}
{% load static %}

{% block customcss %}
  <link rel="stylesheet" href="{% static 'login/css/styleLogin.css' %}">
  <link rel="stylesheet" href="{% static 'login/css/user_profile.css' %}">
  <link rel="stylesheet" href="{% static 'login/css/error.css' %}">
  <link rel="stylesheet" href="{% static 'login/css/loader.css' %}">
{% endblock %}

{% block bodycontent %}
  <body>
  {% if request.user.is_authenticated %}
  <div class="container">
    <div class="card">
      <img src="{% static 'login/imgs/team2.jpg' %}" alt="John" style="width:100%">
      <h1>{{request.user.username}}</h1>
      <p class="title">CEO & Founder, Example</p>
      <p>{{request.user.email}}</p>
      <a href="/logout/"><small>logout</small></a>
    </div>
  </div>
  {% else %}
  <div class="container">
  <div class="col-sm-5">
    <form action="" method="post" id="login-form">
      {% csrf_token %}
      <div class="imgcontainer">
        <h1>Login</h1>
        <img src="{% static 'login/imgs/img_avatar2.png' %}" alt="Avatar" class="avatar" style="">
      </div>
          <label><b>Username</b></label>
          <input type="text" placeholder="Enter Username" name="username" required>

          <label><b>Password</b></label>
          <input type="password" placeholder="Enter Password" name="password" required>
          <button type="submit" name="LoginType" value="SignIn" >Login</button>
    </form>
  </div>
  <div class="col-sm-offset-2 col-sm-5">
    <form id="reg-form">
      {% csrf_token %}
      <div class="imgcontainer">
        <h1>Registration</h1>
        <img src="{% static 'login/imgs/img_avatar2.png' %}" alt="Avatar" class="avatar" style="">
      </div>

          <label><b>Username</b></label>
          <input class="errorChecking" id="username" type="text" placeholder="Enter Username" name="username" required>
          <i id="spinner" class="hidden fa fa-spinner fa-spin"></i>
          <span id="usernameErrorLabel" class="label label-danger" style="display:none;">Error Occured</span><br>

          <label><b>First Name</b></label>
          <input class="errorChecking" id="firstname" type="text" placeholder="Enter Username" name="firstname" required>

          <label><b>Last Name</b></label>
          <input class="errorChecking" id="lastname" type="text" placeholder="Enter Username" name="lastname" required>

          <label><b>Email</b></label>
          <input class="errorChecking" id="email" type="email" placeholder="Enter Username" name="email" required>


          <label><b>Password</b></label>
          <input class="errorChecking" id="password1" type="password" placeholder="Enter Password" name="password1" required>
          <label><b>Retype your password</b></label>
          <input class="errorChecking" id="password2" type="password" placeholder="Enter Password" name="password2" required>
          <button id="reg-submit" name="LoginType" value="SignUp" >Registration</button>
    </form>
    <i id="spinnerForReg" class="hidden fa fa-spinner fa-spin"></i>
    <span id="usernameErrorLabelForReg" class="label label-danger" style="display:none;">Error Occured</span><br>

    <form id="abc" class="" action="index.html" method="post">
      {% csrf_token %}
    </form>
  </div>
  </div>
  {% endif %}

  </body>
{% endblock %}

{% block extrajs %}

  <script>
    $("#username").change(function(e){
      $("#usernameErrorLabel").css("display","none");
      var formData=new FormData();
      // var myData = new FormData($("#login-form")[0]); (incase you want whole form to be posted)
      formData.append('username',$(this).val())
      formData.append('loginType','check_user_exist');
      formData.append('csrfmiddlewaretoken','{{ csrf_token }}');
      $("#spinner").removeClass("hidden");
      $.ajax({
        type:"POST",
        url:"/verifyuser/",
        data:formData,
        processData:false,
        contentType:false,
        success:function(result){
          $("#spinner").addClass("hidden");
          if(result == "success"){
            $("#spinner").addClass("hidden");
            $("#usernameErrorLabel").css("display","block");
            $("#usernameErrorLabel").html("available");
            $("#usernameErrorLabel").css("background","green");

          }else{
            $("#spinner").addClass("hidreg-formden");
            $("#usernameErrorLabel").css("display","block");
            $("#usernameErrorLabel").html("sorry username is taken.");
            $("#usernameErrorLabel").css("background","red");
          }
        },
        error:function(result){
          $("#spinner").addClass("hidden");
          $("#usernameErrorLabel").html("Something Went Wrong.");
        }
      });

    });
  </script>
  <script>
    $("#reg-submit").click(function(e){
      var myData = new FormData($("#reg-form")[0]);
      $("#spinnerForReg").removeClass("hidden");
      $.ajax({
        type: "post",
        url: "/regAjax/",
        data: myData,
        success:function(result){
          if(result=="success"){
            $("#spinnerForReg").addClass("hidden");
            $("#usernameErrorLabelForReg").css("display","block");
            $("#usernameErrorLabelForReg").html("User Registered");
            $("#usernameErrorLabelForReg").css("background","green");
          }else{
            $("#spinnerForReg").addClass("hidden");
            $("#usernameErrorLabelForReg").css("display","block");
            $("#usernameErrorLabelForReg").html("User Cannot be Registered");
            $("#usernameErrorLabelForReg").css("background","red");
          }

        },
        error:function(result){
          $("#spinnerForReg").addClass("hidden");
          $("#usernameErrorLabelForReg").css("display","block");
          $("#usernameErrorLabelForReg").html("User Cannot be Registered");
          $("#usernameErrorLabelForReg").css("background","red");

        },
        contentType:false,
        processData:false
      });
    });
  </script>
{% endblock %}
